* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
  }
  
  nav {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
    padding: 10px 20px;
    z-index: 1000;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  }
  
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  
  #navbar li a,
  .footer-col li a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    transition: 0.3s ease-in-out;
  }
  
  #navbar li a:hover,
  #navbar li a.active,
  .footer-col li a:hover {
    color: #bb2226;
  }
  
  #navbar li a:hover::after,
  #navbar li a.active::after,
  .footer-col li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #bb2226;
    position: absolute;
    bottom: -4px;
    left: 20px;
  }
  
  #mobile {
    display: none;
  }
  
  #mobile i {
    color: white;
    align-items: center;
  }

  .hero {
    background-image: url('img/hero.webp'); /* Replace 'your-hero-image.jpg' with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }

  .hero h1 {
    margin-top: 150px;
    font-size: 60px;
    font-family: 'Work Sans', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 5px 10px;
  }
  
  .hero_text {
    font-family: 'Work Sans', sans-serif;
    padding:10px 40px ;
    background-color: rgba(0, 0, 0, 0.5); 
    text-align: left;
  }

  .hero_text h1 {
    font-size: 30px;
    color: #f7a600;
    margin: 0;
  }
  
  .hero_text h2 {
    font-size: 52px;
    color: #fff;
  }

  .hero_text i {
    font-size: 14px;
  }

  .hero .hero_text {
    position: absolute;
    left: 0;
    margin-top: 400px;

  }

  .container {
    display: flex;
    justify-content: space-between;
    margin: 0px 69px;
  }
  .column {
    flex: 1;
    padding: 20px;
    margin: 10px;
    margin-right: 101px;
  }

  .column h2 {
    font-size: 40px;
    color: #bb2226;
  }

  .column h2 span {
    font-size: 24px;
    color: black;
  }

  .para {
    font-size: 16px;
    padding-top: 20px;
    text-align: justify;
  }
  .mam_info {
    margin-top: 200px;
    justify-content: center;
    text-align: center;
  }

  .mam_dp img{
    border-radius: 100%;
    margin-bottom: 20px;
  }

  .mam_name h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 24px;
  }

  .mam_name span {
    font-size: 16px;
  }

  .mam_name small {
    font-size: 16px;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
  }

  .footer{
    background-color: black;
    padding: 70px 70px;
  }


  .footer-col ul {
      list-style: none;
  }

  .footer-col{
     width: 33.33%;
  }
  
  .footer-col p {
    font-size: 14px;
    color: #fff;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }

  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }

  .footer-col ul li a{
    font-size: 16px;
    font-weight: 400;
    transition: all 0.3s ease;
  }

  .footer-col ul li a:hover{
    padding-left: 8px;
  }

  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #e91e63;
    background-color: #fff;
  }

  @media screen and (max-width: 780px) {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: fixed;
      top: 84px;
      right: 0px;
      width: 300px;
      height: 100vh;
      background: #2a3239;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.06);
      padding: 40px 0 0 10px;
      transition: 0.3s ease-in-out;
    }
  
    #navbar li {
      margin-bottom: 25px;
    }
  
    #mobile {
      display: block;
    }
  
    #mobile i {
      font-size: 24px;
      cursor: pointer;
    }
  
    #navbar.active {
      right: -300px;
    }

    .hero_text h1 {
      font-size: 20px;
    }

    .hero_text h2 {
      font-size: 37px;
    }

    .container {
      flex-direction: column;
      margin-left: 25px;
      margin-right: 25px;
    }

    .column {
      width: 100%;
    }

    .mam_info {
      margin-top: 30px;
    }

    .footer-col{
      width: 100%;
      margin-bottom: 30px;
    }
  }  