* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: #f0f0f0;
  color: #333;
}

nav {
  z-index: 10;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 10px 20px;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.logo img {
  width: auto;
  height: 70px;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a,
.footer-col li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
  transition: 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active,
.footer-col li a:hover,
.alumni_card a:hover {
  color: #bb2226;
}

#navbar li a:hover::after,
#navbar li a.active::after,
.footer-col li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #bb2226;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#mobile i {
  color: white;
  align-items: center;
}

.hero {
  background-image: url('img/hero.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.hero h1 {
  margin-top: 150px;
  font-size: 60px;
  font-family: 'Work Sans', sans-serif;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  padding: 5px 10px;
}

.hero_text {
  font-family: 'Work Sans', sans-serif;
  padding: 10px 40px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: left;
}

.hero_text h1 {
  font-size: 30px;
  color: #f7a600;
  margin: 0;
}

.hero_text h2 {
  font-size: 52px;
  color: #fff;
}

.hero_text i {
  font-size: 14px;
}

.hero .hero_text {
  position: absolute;
  left: 0;
  margin-top: 400px;

}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0px 69px;
}

.column {
  flex: 1;
  padding: 20px;
  margin: 10px;
  margin-right: 101px;
}

.column h2 {
  font-size: 40px;
  color: #bb2226;
}

.column h2 span {
  font-size: 24px;
  color: black;
}

.column p {
  font-size: 16px;
  padding-top: 20px;
  text-align: justify;
}

.mam_info {
  margin-top: 200px;
  justify-content: center;
  text-align: center;
}

.mam_dp img {
  border-radius: 100%;
  margin-bottom: 20px;
}

.mam_name h3 {
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 24px;
}

.mam_name span {
  font-size: 16px;
}

.mam_name small {
  font-size: 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: black;
  padding: 70px 70px;
}

.footer-col ul {
  list-style: none;
}

.footer-col {
  width: 33.33%;
  text-align: justify;
}

.footer-col p {
  font-size: 14px;
  color: #fff;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  font-weight: 400;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #e91e63;
  background-color: #fff;
}

.company, .Alumni {
  padding: 100px 60px 50px;
}

.company h1, .Alumni h1, .contact h1 {
  font-size: 36px;
  padding: 50px 0px;
}

.company_name {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
}


.company_logo, .alumni_card {
  display: grid;
  justify-items: center;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1 solid #ddd;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  transition: 0.5s ease-in-out;
}

.alumni_card {
  grid-template-rows: 20px;
}

.company_logo:hover, .alumni_card:hover {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.batch {
  display: grid;
  grid-template-columns: 100px 100px;
  align-items: center;
}

.batch span {
  justify-self: start;
}

.batch text {
  justify-self: end;
}

.company_logo img{
  max-width: 100%;
  height: auto;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px;
}

.alumni_card h3 {
  font-size: 1.3rem;
  font-weight: bold;
}

.alumni_card img{
  width: 180px;
  border-radius: 50%;
  margin-bottom: 7px;
  margin-top: 5px;
  border: 1px solid #000000;
}

.alumni_card p, span, text {
  font-style: italic;
  color: #666;
}

.alumni_card a {
  text-decoration: none;
  font-weight: 500;
  background-color: #000000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  transition: .3s ease-in-out;
}

.faq_main{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1 solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 1230px) {
  .grid_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
  }
}

@media screen and (max-width: 820px) {
  .logo img {
    height: 60px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 84px;
    right: -300px;
    width: 300px;
    height: 90vh;
    background: #2a3239;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.06);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
  }

  #navbar li {
    margin-bottom: 25px;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }

  #navbar.active {
    right: 0px;
  }

  .hero_text h1 {
    font-size: 20px;
  }

  .hero_text h2 {
    font-size: 37px;
  }

  .container {
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
  }

  .column {
    width: 100%;
  }

  .mam_info {
    margin-top: 30px;
  }

  .footer {
    background-color: black;
    padding: 70px 30px;
  }

  .footer-col {
    width: 100%;
    margin-bottom: 30px;
  }

  .company_name {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .grid_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
  }
}


@media screen and (max-width: 420px) {
  .company {
    padding: 100px 40px 50px;
  }

  .company_name {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .grid_container {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

}






